[cols="3,5,2"]
|===
|헤더명|설명|필수값

{{#headers}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}} {{#example}}{{example}}{{/example}}{{/tableCellContent}}
|{{#tableCellContent}}{{^optional}}O{{/optional}}{{/tableCellContent}}
{{/headers}}
|===
